body {
    background-color: white;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    background-color: aqua;
    color:black;
}
nav {
    display: flex;
    justify-content: flex-end;
}
nav a {
    color:black;
    margin-right: auto;
    margin-left: 0px;
}
.home-color {
    background-color: aqua;
}
